.header_nav
{
    display: flex;
    width: 1283px;
    height: 189px;
    flex-direction: column;
    margin: 63px auto;
}
.header_nav-list
{
    display: flex;
    width: 1280px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
}
.header_nav-ul
{
    display: flex;
    list-style: none;
    column-gap: 75px;
}
.header_nav-list a
{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    font-style: normal;
    color: #FFF;
}
.header_nav-logo
{
    display: flex;
    width: 334px;
    height: 79px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 40px;
    text-decoration: none;
}
.header_nav-logo span
{
    color:#4BCAFF;
}

.header_nav-a1
{
    display: flex;
    width: 330px;
    height: 70px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-right: -75px;
}
.header_nav-a2
 {
    display: flex;
    width: 150px;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-right: -75px;
    transition: 700ms background-color;
 }
.header_nav-a2:hover
{
    display: flex;
    width: 150px;
    height: 70px;
    background-color: black;
}
.header_nav-a3
{
    display: flex;
    width: 284px;
    height: 70px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #FFFFFF;
    align-items: center;
    justify-content: center;

}
.header_nav-a4
{
    display: flex;
    min-width: 199px;
    height: 70px;
    margin-right: 50px;
    border-right: 1px solid;
    border-color: #FFFFFF;
    align-items: center;
    justify-content: start;
}
.aside_content
{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 150px;
    width: 344px;
    height: 399px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}
.aside_content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: start;
    row-gap: 52px;
}
.aside_content a
{
    text-decoration: none;
    color: #495863;
    font-family: "Roboto", sans-serif;
    font-size: 27px;

    padding-bottom: 52px;
}
.main_content-img
{
    display: flex;
    width: 885px;
    height: 529px;
    align-items: center;
    justify-content: center;
    margin-left: 548px;
    margin-top: -400px;
    border-style: solid;
    border-width: 1px;
    border-color: #000 ;
}
.main_content-figure
 {
     transform: scale(1);
     transition: 700ms;
 }
 .main_content-figure:hover
 {
     transform: scale(1.3);
 }
.main_content-text1
{
    display: block;
    width: 885px;
    margin-left: 548px;
}
.main_content-text2
{
    display: block;
    width: 885px;
    margin-left: 548px;

}
.main_content-text1 p
{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}
.main_content-text2 p
{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 13px;
}
.footer_box
{
    display: flex;
    width: 1280px;
    height: 70px;
    margin: 54px 155px 30px 150px;
    align-items: center;
    justify-content: flex-start;
    background-color: #DBDBDB;
}
.footer_box-ul
{
    display: flex;
    list-style: none;
    column-gap: 23px;
    align-items: center;
}
.footer_box a
{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
    color: #0C1927;
}
.footer_box-a1
{
    margin-left: 40px;
}
.footer_box-a2
{
    transition: 700ms;
}
.footer_box-a2:hover
{
    color:  #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
}
.footer_box-p
{
    display: block;
    margin-left: 135px;
    margin-right: 40px;
}